# Ignore virtual environment folder
ai-intern/


# Ignore VS Code settings
.vscode/

# Ignore Tutorial and basic folder
tutorial/
basics/


# ingore command.txt file
command.txt

/requirements.txt

# add python cache files in /src/main/
src/main/__pycache__/

src/ai-intern-week2/__pycache__/